SoapJSFExample/web/WEB-INF/wsdl/localhost_8080/ProcessPayment/ProcessPayment.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ProcessPayment">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/ProcessPayment/ProcessPayment?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="processPayment">
<part name="parameters" element="tns:processPayment"/>
</message>
<message name="processPaymentResponse">
<part name="parameters" element="tns:processPaymentResponse"/>
</message>
<message name="checkAccountAndDebt">
<part name="parameters" element="tns:checkAccountAndDebt"/>
</message>
<message name="checkAccountAndDebtResponse">
<part name="parameters" element="tns:checkAccountAndDebtResponse"/>
</message>
<portType name="ProcessPayment">
<operation name="hello">
<input wsam:Action="http://service/ProcessPayment/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service/ProcessPayment/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="processPayment">
<input wsam:Action="http://service/ProcessPayment/processPaymentRequest" message="tns:processPayment"/>
<output wsam:Action="http://service/ProcessPayment/processPaymentResponse" message="tns:processPaymentResponse"/>
</operation>
<operation name="checkAccountAndDebt">
<input wsam:Action="http://service/ProcessPayment/checkAccountAndDebtRequest" message="tns:checkAccountAndDebt"/>
<output wsam:Action="http://service/ProcessPayment/checkAccountAndDebtResponse" message="tns:checkAccountAndDebtResponse"/>
</operation>
</portType>
<binding name="ProcessPaymentPortBinding" type="tns:ProcessPayment">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="processPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkAccountAndDebt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProcessPayment">
<port name="ProcessPaymentPort" binding="tns:ProcessPaymentPortBinding">
<soap:address location="http://localhost:8080/ProcessPayment/ProcessPayment"/>
</port>
</service>
</definitions>